@charset "UTF-8";

/* Estilos para telas */

* {
    margin: 0px;
    padding: 0px;
}
:root {
    --cabecalho:#161F30;
    --navegacao:#173540;
    --corpo-site:#3d3d3d36;

}
body {
    padding: 10px;
    text-justify: justify;
    background-color: var(--corpo-site);
}
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
.afastar {
    padding-top: 25px;
}

header {
    background-color:var(--cabecalho);
}
header > h1 {
    text-align: center;
    color: white;
    
}

menu ul {
    list-style-type: none;
}
menu li {
    display: inline-block;
    padding: 10px;
    background-color:var(--navegacao);
    color: white;
    text-indent: 20px;
}
article {
    width: 600px;
    display: block;
    margin: auto;
    background-color: white;
    padding: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.111);

    
}
article > p {
    text-indent: 10px;
    padding: 10px;
    
}
.identacao{
    margin-left: 50px;
}